<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>label</key>
			<string>Main Info</string>
		</dict>
		<array>
			<dict>
				<key>autocapitalizationType</key>
				<string>AllCharacters</string>
				<key>autocorrectionType</key>
				<true/>
				<key>CellType</key>
				<string>TextDataEntryCell</string>
				<key>DataKey</key>
				<string>mnemonic</string>
				<key>Label</key>
				<string>Name</string>
				<key>placeholder</key>
				<string>&lt;mnemonic name&gt;</string>
			</dict>
			<dict>
				<key>CellType</key>
				<string>TextDataEntryCell</string>
				<key>DataKey</key>
				<string>username</string>
				<key>Label</key>
				<string>User</string>
				<key>placeholder</key>
				<string>&lt;input username&gt;</string>
			</dict>
			<dict>
				<key>autocorrectionType</key>
				<false/>
				<key>CellType</key>
				<string>TextDataEntryCell</string>
				<key>DataKey</key>
				<string>password</string>
				<key>Label</key>
				<string>Password</string>
				<key>placeholder</key>
				<string>&lt;input password&gt;</string>
                <key>allowLongGesture</key><true/>
			</dict>
		</array>
	</array>
	<array>
		<dict>
			<key>label</key>
			<string>Extra Info</string>
		</dict>
		<array>
			<dict>
				<key>CellType</key>
				<string>MailListDataEntryCell</string>
				<key>DataKey</key>
				<string>mail</string>
				<key>Label</key>
				<string>Email</string>
				<key>placeholder</key>
				<string>&lt;input mail&gt;</string>
                <key>allowLongGesture</key><true/>
			</dict>
			<dict>
				<key>CellType</key>
				<string>PushWebViewEntryCell</string>
				<key>DataKey</key>
				<string>url</string>
				<key>Label</key>
				<string>Site</string>
				<key>placeholder</key>
				<string>&lt;input site url&gt;</string>
                <key>allowLongGesture</key><true/>
			</dict>
			<dict>
				<key>CellType</key>
				<string>PushTextEntryCell</string>
				<key>DataKey</key>
				<string>note</string>
				<key>Label</key>
				<string>Note</string>
                <key>allowLongGesture</key><true/>
			</dict>
		</array>
	</array>
</array>
</plist>
