<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<array>
	
		<dict>
			<key>label</key>
			<string>Personal</string>
		</dict>
	
		<array>
			
			
			<dict>
				<key>DataKey</key>
				<string>firstName</string>
				<key>Label</key>
				<string>Nome</string>
				<key>CellType</key>
				<string>TextDataEntryCell</string>
			</dict>
			<dict>
				<key>DataKey</key>
				<string>lastName</string>
				<key>Label</key>
				<string>Cognome</string>
				<key>CellType</key>
				<string>TextDataEntryCell</string>
				<key>placeholder</key>
				<string>&lt;input cognome &gt;</string>
			</dict>
			<dict>
				<key>DataKey</key>
				<string>email</string>
				<key>Label</key>
				<string>Email</string>
				<key>CellType</key>
				<string>MailDataEntryCell</string>
			</dict>
			<dict>
				<key>DataKey</key>
				<string>gender</string>
				<key>Label</key>
				<string>Sesso</string>
				<key>CellType</key>
				<string>GenderDataEntryCell</string>
				<key>segmentKeys</key>
				<array>
					<string>M</string>
					<string>F</string>
				</array>
			</dict>
			<dict>
				<key>DataKey</key>
				<string>birthDay</string>
				<key>Label</key>
				<string>Data Nascita</string>
				<key>CellType</key>
				<string>PushDateEntryCell</string>
				<key>_format</key>
				<string></string>				
			</dict>
			<!--
			<dict>
				<key>DataKey</key>
				<string>gender</string>
				<key>Label</key>
				<string>Sesso</string>
				<key>CellType</key>
				<string>TwoStateTableEditCell</string>
			</dict>
			<dict>
				<key>DataKey</key>
				<string>birthDay</string>
				<key>Label</key>
				<string>Data di nascita</string>
				<key>CellType</key>
				<string>DateTableEditCell</string>
			</dict>
			-->
			
			
		</array>
	</array>

	<array>	
		<dict>
			<key>label</key>
			<string>Form2</string>
		</dict>
	
		<array>
			<dict>
				<key>DataKey</key>
				<string>enabled</string>
				<key>Label</key>
				<string>Married</string>
				<key>CellType</key>
				<string>SwitchDataEntryCell</string>
			</dict>
			<dict>
				<key>DataKey</key>
				<string>customField</string>
				<key>Label</key>
				<string>Sheet</string>
				<key>CellType</key>
				<string>PushFormDataEntryCell</string>
				<key>controller</key>
				<string>form1-structure.plist</string>
			</dict>
			<dict>
				<key>DataKey</key>
				<string>note</string>
				<key>Label</key>
				<string>Note</string>
				<key>CellType</key>
				<string>PushTextEntryCell</string>
			</dict>
		</array>
		
	</array>
	

</array>
</plist>
